<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sifude.lejane.mapper.SysCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.sifude.lejane.entity.SysCompany" >
    <id column="comp_id" property="compId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="guest_phone" property="guestPhone" jdbcType="VARCHAR" />
    <result column="adcode" property="adcode" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="SMALLINT" />
    <result column="comp1_pid" property="comp1Pid" jdbcType="BIGINT" />
    <result column="comp2_pid" property="comp2Pid" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="record_status" property="recordStatus" jdbcType="SMALLINT" />
    <result column="record_delete" property="recordDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    comp_id, name, phone, guest_phone, adcode, address, level, comp1_pid, comp2_pid, 
    remark, description, update_time, create_time, record_status, record_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_sys_company
    where comp_id = #{compId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_sys_company
    where comp_id = #{compId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sifude.lejane.entity.SysCompany" >
    insert into tbl_sys_company (comp_id, name, phone, 
      guest_phone, adcode, address, 
      level, comp1_pid, comp2_pid, 
      remark, description, update_time, 
      create_time, record_status, record_delete
      )
    values (#{compId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{guestPhone,jdbcType=VARCHAR}, #{adcode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{level,jdbcType=SMALLINT}, #{comp1Pid,jdbcType=BIGINT}, #{comp2Pid,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{recordStatus,jdbcType=SMALLINT}, #{recordDelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sifude.lejane.entity.SysCompany" >
    insert into tbl_sys_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        comp_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="guestPhone != null" >
        guest_phone,
      </if>
      <if test="adcode != null" >
        adcode,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="comp1Pid != null" >
        comp1_pid,
      </if>
      <if test="comp2Pid != null" >
        comp2_pid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="recordStatus != null" >
        record_status,
      </if>
      <if test="recordDelete != null" >
        record_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        #{compId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="guestPhone != null" >
        #{guestPhone,jdbcType=VARCHAR},
      </if>
      <if test="adcode != null" >
        #{adcode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="comp1Pid != null" >
        #{comp1Pid,jdbcType=BIGINT},
      </if>
      <if test="comp2Pid != null" >
        #{comp2Pid,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=SMALLINT},
      </if>
      <if test="recordDelete != null" >
        #{recordDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sifude.lejane.entity.SysCompany" >
    update tbl_sys_company
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="guestPhone != null" >
        guest_phone = #{guestPhone,jdbcType=VARCHAR},
      </if>
      <if test="adcode != null" >
        adcode = #{adcode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=SMALLINT},
      </if>
      <if test="comp1Pid != null" >
        comp1_pid = #{comp1Pid,jdbcType=BIGINT},
      </if>
      <if test="comp2Pid != null" >
        comp2_pid = #{comp2Pid,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordStatus != null" >
        record_status = #{recordStatus,jdbcType=SMALLINT},
      </if>
      <if test="recordDelete != null" >
        record_delete = #{recordDelete,jdbcType=INTEGER},
      </if>
    </set>
    where comp_id = #{compId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sifude.lejane.entity.SysCompany" >
    update tbl_sys_company
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      guest_phone = #{guestPhone,jdbcType=VARCHAR},
      adcode = #{adcode,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      level = #{level,jdbcType=SMALLINT},
      comp1_pid = #{comp1Pid,jdbcType=BIGINT},
      comp2_pid = #{comp2Pid,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      record_status = #{recordStatus,jdbcType=SMALLINT},
      record_delete = #{recordDelete,jdbcType=INTEGER}
    where comp_id = #{compId,jdbcType=BIGINT}
  </update>
</mapper>