<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sifude.lejane.dao.ISysFeedbackDao">
	<resultMap id="BaseResultMap" type="com.sifude.lejane.entity.SysFeedback">
		<id column="fb_id" property="fbId" jdbcType="BIGINT" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="pt_id" property="ptId" jdbcType="BIGINT" />
		<result column="comp_id" property="compId" jdbcType="BIGINT" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="suggestion" property="suggestion" jdbcType="VARCHAR" />
		<result column="op_id" property="opId" jdbcType="BIGINT" />
		<result column="op_name" property="opName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="record_status" property="recordStatus"
			jdbcType="SMALLINT" />
	</resultMap>
	<resultMap id="FeedbackSearchResult" type="com.sifude.lejane.entity.mvo.SysFeedbackSMvo">
		<id column="fb_id" property="fbId" jdbcType="BIGINT" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="pt_id" property="ptId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="op_id" property="opId" jdbcType="BIGINT" />
		<result column="op_name" property="opName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="FeedBackDetailResult" type="com.sifude.lejane.entity.mvo.SysFeedbackDMvo" extends="BaseResultMap">
		<result column="type" property="type" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="search" resultMap="FeedbackSearchResult">
		select
			a.fb_id, a.phone, a.pt_id, b.name type, a.op_id, a.op_name, a.create_time
		from tbl_sys_feedback a
		left join tbl_sys_problem_type b on a.pt_id = b.pt_id
		left join tbl_sys_company c on a.comp_id = c.comp_id
		inner join tbl_sys_company d on c.comp1_pid = d.comp1_pid or c.comp1_pid = d.comp_id or c.comp_id = d.comp_id
		<where>
			<if test="ptId != null">
				AND a.pt_id = #{ptId,jdbcType=VARCHAR}
			</if>
			<if test="beginTime != null">
				AND a.create_time &gt; #{beginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
				AND a.create_time &lt; #{endTime,jdbcType=TIMESTAMP}
			</if>
			AND d.comp_id = #{addCompId,jdbcType=VARCHAR}
			AND a.record_status = 0
		</where>
		group by a.fb_id
		order by a.create_time desc
		limit #{offset},#{limit}
	</select>
	
	
	<select id="total" resultType="java.lang.Integer">
		select
			count(distinct a.fb_id)
		from tbl_sys_feedback a
		left join tbl_sys_company c on a.comp_id = c.comp_id
		inner join tbl_sys_company d on c.comp1_pid = d.comp1_pid or c.comp1_pid = d.comp_id or c.comp_id = d.comp_id
		<where>
			<if test="ptId != null">
				AND a.pt_id = #{ptId,jdbcType=VARCHAR}
			</if>
			<if test="beginTime != null">
				AND a.create_time &gt; #{beginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
				AND a.create_time &lt; #{endTime,jdbcType=TIMESTAMP}
			</if>
			AND d.comp_id = #{addCompId,jdbcType=VARCHAR}
			AND a.record_status = 0
		</where>
	</select>

	<select id="detail" resultMap="FeedBackDetailResult"
		parameterType="java.lang.Long">
		select
			a.fb_id, a.phone, a.pt_id, b.name type, a.description, a.suggestion, a.op_id, a.op_name, a.create_time,
			a.record_status
		from tbl_sys_feedback a
		left join tbl_sys_problem_type b on a.pt_id = b.pt_id
		where fb_id = #{fbId,jdbcType=BIGINT}
	</select>
	
	<insert id="save" parameterType="com.sifude.lejane.entity.SysFeedback">
		insert into tbl_sys_feedback
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fbId != null">
				fb_id,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="ptId != null">
				pt_id,
			</if>
			<if test="compId != null">
				comp_id,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="suggestion != null">
				suggestion,
			</if>
			<if test="opId != null">
				op_id,
			</if>
			<if test="opName != null">
				op_name,
			</if>
				create_time,
			<if test="recordStatus != null">
				record_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fbId != null">
				#{fbId,jdbcType=BIGINT},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="ptId != null">
				#{ptId,jdbcType=BIGINT},
			</if>
			<if test="compId != null">
				#{compId,jdbcType=BIGINT},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="suggestion != null">
				#{suggestion,jdbcType=VARCHAR},
			</if>
			<if test="opId != null">
				#{opId,jdbcType=BIGINT},
			</if>
			<if test="opName != null">
				#{opName,jdbcType=VARCHAR},
			</if>
				CURRENT_TIMESTAMP,
			<if test="recordStatus != null">
				#{recordStatus,jdbcType=SMALLINT},
			</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="com.sifude.lejane.entity.SysFeedback">
		update tbl_sys_feedback
		<set>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="ptId != null">
				pt_id = #{ptId,jdbcType=BIGINT},
			</if>
			<if test="compId != null">
				comp_id = #{compId,jdbcType=BIGINT},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="suggestion != null">
				suggestion = #{suggestion,jdbcType=VARCHAR},
			</if>
			<if test="opId != null">
				op_id = #{opId,jdbcType=BIGINT},
			</if>
			<if test="opName != null">
				op_name = #{opName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recordStatus != null">
				record_status = #{recordStatus,jdbcType=SMALLINT},
			</if>
		</set>
		where fb_id = #{fbId,jdbcType=BIGINT}
	</update>
	<!-- <resultMap id="BaseResultMap" type="com.sifude.lejane.entity.SysFeedback">
		<id column="fb_id" property="fbId" jdbcType="BIGINT" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="pt_id" property="ptId" jdbcType="BIGINT" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="suggestion" property="suggestion" jdbcType="VARCHAR" />
		<result column="op_id" property="opId" jdbcType="BIGINT" />
		<result column="op_name" property="opName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="record_status" property="recordStatus"
			jdbcType="SMALLINT" />
	</resultMap>
	<sql id="Base_Column_List">
		fb_id, phone, pt_id, description, suggestion, op_id, op_name, create_time,
		record_status
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from tbl_sys_feedback
		where fb_id = #{fbId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from tbl_sys_feedback
		where fb_id = #{fbId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.sifude.lejane.entity.SysFeedback">
		insert into tbl_sys_feedback (fb_id, phone, pt_id,
		description, suggestion, op_id,
		op_name, create_time, record_status
		)
		values (#{fbId,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR},
		#{ptId,jdbcType=BIGINT},
		#{description,jdbcType=VARCHAR}, #{suggestion,jdbcType=VARCHAR}, #{opId,jdbcType=BIGINT},
		#{opName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{recordStatus,jdbcType=SMALLINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.sifude.lejane.entity.SysFeedback">
		insert into tbl_sys_feedback
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fbId != null">
				fb_id,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="ptId != null">
				pt_id,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="suggestion != null">
				suggestion,
			</if>
			<if test="opId != null">
				op_id,
			</if>
			<if test="opName != null">
				op_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="recordStatus != null">
				record_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fbId != null">
				#{fbId,jdbcType=BIGINT},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="ptId != null">
				#{ptId,jdbcType=BIGINT},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="suggestion != null">
				#{suggestion,jdbcType=VARCHAR},
			</if>
			<if test="opId != null">
				#{opId,jdbcType=BIGINT},
			</if>
			<if test="opName != null">
				#{opName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recordStatus != null">
				#{recordStatus,jdbcType=SMALLINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sifude.lejane.entity.SysFeedback">
		update tbl_sys_feedback
		<set>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="ptId != null">
				pt_id = #{ptId,jdbcType=BIGINT},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="suggestion != null">
				suggestion = #{suggestion,jdbcType=VARCHAR},
			</if>
			<if test="opId != null">
				op_id = #{opId,jdbcType=BIGINT},
			</if>
			<if test="opName != null">
				op_name = #{opName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recordStatus != null">
				record_status = #{recordStatus,jdbcType=SMALLINT},
			</if>
		</set>
		where fb_id = #{fbId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sifude.lejane.entity.SysFeedback">
		update tbl_sys_feedback
		set phone = #{phone,jdbcType=VARCHAR},
		pt_id = #{ptId,jdbcType=BIGINT},
		description = #{description,jdbcType=VARCHAR},
		suggestion = #{suggestion,jdbcType=VARCHAR},
		op_id = #{opId,jdbcType=BIGINT},
		op_name = #{opName,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		record_status = #{recordStatus,jdbcType=SMALLINT}
		where fb_id = #{fbId,jdbcType=BIGINT}
	</update> -->
</mapper>