<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sifude.lejane.dao.ISysProblemTypeDao">
	<resultMap id="ProblemTypeListResult" type="com.sifude.lejane.entity.mvo.SysProblemTypeLMvo">
		<id column="pt_id" property="ptId" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	

	<select id="list" resultMap="ProblemTypeListResult">
		select
			pt_id, name
		from tbl_sys_problem_type
		<where>
			<if test="name != null">
				name like #{name,jdbcType=VARCHAR}
			</if>
		</where>
		limit #{limit}
	</select>
	
	<insert id="save" parameterType="com.sifude.lejane.entity.SysProblemType">
		insert into tbl_sys_problem_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ptId != null">
				pt_id,
			</if>
			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ptId != null">
				#{ptId,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- <resultMap id="BaseResultMap" type="com.sifude.lejane.entity.SysProblemType">
		<id column="pt_id" property="ptId" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		pt_id, name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from tbl_sys_problem_type
		where pt_id = #{ptId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from tbl_sys_problem_type
		where pt_id = #{ptId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.sifude.lejane.entity.SysProblemType">
		insert into tbl_sys_problem_type (pt_id, name)
		values (#{ptId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.sifude.lejane.entity.SysProblemType">
		insert into tbl_sys_problem_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ptId != null">
				pt_id,
			</if>
			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ptId != null">
				#{ptId,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sifude.lejane.entity.SysProblemType">
		update tbl_sys_problem_type
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where pt_id = #{ptId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sifude.lejane.entity.SysProblemType">
		update tbl_sys_problem_type
		set name = #{name,jdbcType=VARCHAR}
		where pt_id = #{ptId,jdbcType=BIGINT}
	</update> -->
</mapper>