<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sifude.lejane.dao.ISysProblemDao">
	<resultMap id="BaseResultMap" type="com.sifude.lejane.entity.SysProblem">
		<id column="pro_id" property="proId" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="pt_id" property="ptId" jdbcType="BIGINT" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="record_status" property="recordStatus"
			jdbcType="BIT" />
		<result column="record_delete" property="recordDelete"
			jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="ProblemListResult" type="com.sifude.lejane.entity.mvo.SysProblemLMvo">
		<id column="pro_id" property="proId" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="pt_id" property="ptId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="BIGINT" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="ProblemDetailResult" type="com.sifude.lejane.entity.mvo.SysProblemDMvo">
		<id column="pro_id" property="proId" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="pt_id" property="ptId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="BIGINT" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<select id="search" resultMap="ProblemListResult">
		select
			a.pro_id, a.title, a.pt_id, b.name type, a.content, a.create_time
		from tbl_sys_problem a
		left join tbl_sys_problem_type b on a.pt_id = b.pt_id
		left join tbl_sys_company c on a.comp_id = c.comp_id
		inner join tbl_sys_company d on c.comp1_pid = d.comp1_pid or c.comp1_pid = d.comp_id or c.comp_id = d.comp_id
		<where>
			<if test="title != null and title != ''">
				AND a.title like #{title,jdbcType=VARCHAR}
			</if>
			<if test="ptId != null">
				AND a.pt_id = #{ptId,jdbcType=VARCHAR}
			</if>
			<if test="beginTime != null">
				AND a.create_time &gt; #{beginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
				AND a.create_time &lt; #{endTime,jdbcType=TIMESTAMP}
			</if>
			AND d.comp_id = #{addCompId,jdbcType=VARCHAR}
			AND a.record_status = 0
		</where>
		group by a.pro_id
		order by a.create_time desc
		limit #{offset},#{limit}
	</select>
	
	<select id="total" resultType="java.lang.Integer">
		select
			count(distinct a.pro_id)
		from tbl_sys_problem a
		left join tbl_sys_problem_type b on a.pt_id = b.pt_id
		left join tbl_sys_company c on a.comp_id = c.comp_id
		inner join tbl_sys_company d on c.comp1_pid = d.comp1_pid or c.comp1_pid = d.comp_id or c.comp_id = d.comp_id
		<where>
			<if test="title != null and title != ''">
				AND a.title like #{title,jdbcType=VARCHAR}
			</if>
			<if test="ptId != null">
				AND a.pt_id = #{ptId,jdbcType=VARCHAR}
			</if>
			<if test="beginTime != null">
				AND a.create_time &gt; #{beginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
				AND a.create_time &lt; #{endTime,jdbcType=TIMESTAMP}
			</if>
			AND d.comp_id = #{addCompId,jdbcType=VARCHAR}
			AND a.record_status = 0
		</where>
	</select>
	<insert id="save" parameterType="com.sifude.lejane.entity.SysProblem">
		insert into tbl_sys_problem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="proId != null">
				pro_id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="ptId != null">
				pt_id,
			</if>
			<if test="compId != null">
				comp_id,
			</if>
			<if test="content != null">
				content,
			</if>
				create_time,
			<if test="recordStatus != null">
				record_status,
			</if>
			<if test="recordDelete != null">
				record_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="proId != null">
				#{proId,jdbcType=BIGINT},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="ptId != null">
				#{ptId,jdbcType=BIGINT},
			</if>
			<if test="compId != null">
				#{compId,jdbcType=BIGINT},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			CURRENT_TIMESTAMP,
			<if test="recordStatus != null">
				#{recordStatus,jdbcType=BIT},
			</if>
			<if test="recordDelete != null">
				#{recordDelete,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.sifude.lejane.entity.SysProblem">
		update tbl_sys_problem
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="ptId != null">
				pt_id = #{ptId,jdbcType=BIGINT},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recordStatus != null">
				record_status = #{recordStatus,jdbcType=BIT},
			</if>
			<if test="recordDelete != null">
				record_delete = #{recordDelete,jdbcType=INTEGER},
			</if>
		</set>
		where pro_id = #{proId,jdbcType=BIGINT}
	</update>
	
	
	<select id="exist" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(1) from tbl_sys_problem
		<where>
			<if test="title != null and title != ''">
				title = #{title, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<!-- <resultMap id="BaseResultMap" type="com.sifude.lejane.entity.SysProblem">
		<id column="pro_id" property="proId" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="pt_id" property="ptId" jdbcType="BIGINT" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="record_status" property="recordStatus"
			jdbcType="BIT" />
		<result column="record_delete" property="recordDelete"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		pro_id, title, pt_id, content, create_time, record_status, record_delete
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from tbl_sys_problem
		where pro_id = #{proId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from tbl_sys_problem
		where pro_id = #{proId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.sifude.lejane.entity.SysProblem">
		insert into tbl_sys_problem (pro_id, title, pt_id,
		content, create_time, record_status,
		record_delete)
		values (#{proId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR},
		#{ptId,jdbcType=BIGINT},
		#{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{recordStatus,jdbcType=BIT},
		#{recordDelete,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.sifude.lejane.entity.SysProblem">
		insert into tbl_sys_problem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="proId != null">
				pro_id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="ptId != null">
				pt_id,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="recordStatus != null">
				record_status,
			</if>
			<if test="recordDelete != null">
				record_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="proId != null">
				#{proId,jdbcType=BIGINT},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="ptId != null">
				#{ptId,jdbcType=BIGINT},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recordStatus != null">
				#{recordStatus,jdbcType=BIT},
			</if>
			<if test="recordDelete != null">
				#{recordDelete,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sifude.lejane.entity.SysProblem">
		update tbl_sys_problem
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="ptId != null">
				pt_id = #{ptId,jdbcType=BIGINT},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recordStatus != null">
				record_status = #{recordStatus,jdbcType=BIT},
			</if>
			<if test="recordDelete != null">
				record_delete = #{recordDelete,jdbcType=INTEGER},
			</if>
		</set>
		where pro_id = #{proId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sifude.lejane.entity.SysProblem">
		update tbl_sys_problem
		set title = #{title,jdbcType=VARCHAR},
		pt_id = #{ptId,jdbcType=BIGINT},
		content = #{content,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		record_status = #{recordStatus,jdbcType=BIT},
		record_delete = #{recordDelete,jdbcType=INTEGER}
		where pro_id = #{proId,jdbcType=BIGINT}
	</update> -->
</mapper>