<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sifude.lejane.dao.IUsrArchivesDao">
	<resultMap id="BaseResultMap" type="com.sifude.lejane.entity.UsrArchives">
		<id column="arc_id" property="arcId" jdbcType="BIGINT" />
		<result column="memb_id" property="membId" jdbcType="BIGINT" />
		<result column="health_status" property="healthStatus" jdbcType="BIT" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="high_pressure" property="highPressure" jdbcType="INTEGER" />
		<result column="low_pressure" property="lowPressure" jdbcType="INTEGER" />
		<result column="boold_fat" property="booldFat" jdbcType="VARCHAR" />
		<result column="boold_sugar" property="booldSugar" jdbcType="VARCHAR" />
		<result column="digestion" property="digestion" jdbcType="VARCHAR" />
		<result column="urine" property="urine" jdbcType="VARCHAR" />
		<result column="sleep" property="sleep" jdbcType="VARCHAR" />
		<result column="tongue" property="tongue" jdbcType="VARCHAR" />
		<result column="limbs_temp" property="limbsTemp" jdbcType="VARCHAR" />
		<result column="check_time" property="checkTime" jdbcType="DATE" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="record_status" property="recordStatus" jdbcType="BIT" />
	</resultMap>
	<resultMap id="ArchivesDetailResult" type="com.sifude.lejane.entity.mvo.UsrArchivesDMvo" extends="BaseResultMap">
		<id column="hab_id" property="habId" jdbcType="BIGINT" />
		<result column="is_smoke" property="isSmoke" jdbcType="BIT" />
		<result column="is_drink" property="isDrink" jdbcType="BIT" />
		<result column="sleep_habbit" property="sleepHabbit" jdbcType="VARCHAR" />
		<result column="is_midnight" property="isMidnight" jdbcType="BIT" />
		<result column="is_nap" property="isNap" jdbcType="BIT" />
		<result column="is_eat_well" property="isEatWell" jdbcType="BIT" />
		<result column="eat_description" property="eatDescription"
			jdbcType="VARCHAR" />
		<result column="is_move" property="isMove" jdbcType="BIT" />
		<result column="move_description" property="moveDescription"
			jdbcType="VARCHAR" />
		<result column="characteristic" property="characteristic" jdbcType="VARCHAR" />
		<result column="check_time" property="checkTime" jdbcType="DATE" />
	</resultMap>
	<resultMap id="ArchivesSearchResult" type="com.sifude.lejane.entity.mvo.UsrArchivesSMvo" extends="BaseResultMap">
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="is_smoke" property="isSmoke" jdbcType="BIT" />
		<result column="is_drink" property="isDrink" jdbcType="BIT" />
		<result column="sleep_habbit" property="sleepHabbit" jdbcType="VARCHAR" />
		<result column="is_midnight" property="isMidnight" jdbcType="BIT" />
		<result column="is_nap" property="isNap" jdbcType="BIT" />
		<result column="is_eat_well" property="isEatWell" jdbcType="BIT" />
		<result column="eat_description" property="eatDescription"
			jdbcType="VARCHAR" />
		<result column="is_move" property="isMove" jdbcType="BIT" />
		<result column="move_description" property="moveDescription"
			jdbcType="VARCHAR" />
		<result column="characteristic" property="characteristic" jdbcType="VARCHAR" />
		<result column="check_time" property="checkTime" jdbcType="DATE" />
	</resultMap>
	<insert id="save" parameterType="com.sifude.lejane.entity.UsrArchives" keyProperty="arcId" useGeneratedKeys="true">
		replace into tbl_usr_archives
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="arcId != null">
				arc_id,
			</if>
			<if test="membId != null">
				memb_id,
			</if>
			<if test="healthStatus != null">
				health_status,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="highPressure != null">
				high_pressure,
			</if>
			<if test="lowPressure != null">
				low_pressure,
			</if>
			<if test="booldFat != null">
				boold_fat,
			</if>
			<if test="booldSugar != null">
				boold_sugar,
			</if>
			<if test="digestion != null">
				digestion,
			</if>
			<if test="urine != null">
				urine,
			</if>
			<if test="sleep != null">
				sleep,
			</if>
			<if test="tongue != null">
				tongue,
			</if>
			<if test="limbsTemp != null">
				limbs_temp,
			</if>
			<if test="checkTime != null">
				check_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="recordStatus != null">
				record_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="arcId != null">
				#{arcId,jdbcType=BIGINT},
			</if>
			<if test="membId != null">
				#{membId,jdbcType=BIGINT},
			</if>
			<if test="healthStatus != null">
				#{healthStatus,jdbcType=BIT},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="highPressure != null">
				#{highPressure,jdbcType=INTEGER},
			</if>
			<if test="lowPressure != null">
				#{lowPressure,jdbcType=INTEGER},
			</if>
			<if test="booldFat != null">
				#{booldFat,jdbcType=VARCHAR},
			</if>
			<if test="booldSugar != null">
				#{booldSugar,jdbcType=VARCHAR},
			</if>
			<if test="digestion != null">
				#{digestion,jdbcType=VARCHAR},
			</if>
			<if test="urine != null">
				#{urine,jdbcType=VARCHAR},
			</if>
			<if test="sleep != null">
				#{sleep,jdbcType=VARCHAR},
			</if>
			<if test="tongue != null">
				#{tongue,jdbcType=VARCHAR},
			</if>
			<if test="limbsTemp != null">
				#{limbsTemp,jdbcType=VARCHAR},
			</if>
			<if test="checkTime != null">
				#{checkTime,jdbcType=DATE},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recordStatus != null">
				#{recordStatus,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.sifude.lejane.entity.UsrArchives">
		update tbl_usr_archives
		<set>
			<if test="membId != null">
				memb_id = #{membId,jdbcType=BIGINT},
			</if>
			<if test="healthStatus != null">
				health_status = #{healthStatus,jdbcType=BIT},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="highPressure != null">
				high_pressure = #{highPressure,jdbcType=INTEGER},
			</if>
			<if test="lowPressure != null">
				low_pressure = #{lowPressure,jdbcType=INTEGER},
			</if>
			<if test="booldFat != null">
				boold_fat = #{booldFat,jdbcType=VARCHAR},
			</if>
			<if test="booldSugar != null">
				boold_sugar = #{booldSugar,jdbcType=VARCHAR},
			</if>
			<if test="digestion != null">
				digestion = #{digestion,jdbcType=VARCHAR},
			</if>
			<if test="urine != null">
				urine = #{urine,jdbcType=VARCHAR},
			</if>
			<if test="sleep != null">
				sleep = #{sleep,jdbcType=VARCHAR},
			</if>
			<if test="tongue != null">
				tongue = #{tongue,jdbcType=VARCHAR},
			</if>
			<if test="limbsTemp != null">
				limbs_temp = #{limbsTemp,jdbcType=VARCHAR},
			</if>
			<if test="checkTime != null">
				check_time = #{checkTime,jdbcType=DATE},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recordStatus != null">
				record_status = #{recordStatus,jdbcType=BIT},
			</if>
		</set>
		where arc_id = #{arcId,jdbcType=BIGINT}
	</update>
	<select id="detail" resultMap="ArchivesDetailResult">
		select
			a.arc_id, a.memb_id, a.health_status, a.description, a.high_pressure, a.low_pressure, a.boold_fat, 
			a.boold_sugar, a.digestion, a.urine, a.sleep, a.tongue, a.limbs_temp, a.check_time, a.create_time, a.record_status,
			b.hab_id, b.is_smoke, b.is_drink, b.sleep_habbit, b.is_midnight, b.is_nap,
			b.is_eat_well, b.eat_description, b.is_move, b.move_description, b.characteristic, b.check_time
		from tbl_usr_archives a
		left join tbl_usr_habbit b on a.memb_id = b.memb_id
		where a.memb_id = #{membId,jdbcType=BIGINT}
	</select>
	<select id="search" resultMap="ArchivesSearchResult">
		select
			a.arc_id, a.memb_id, a.health_status, a.description, a.high_pressure, a.low_pressure, a.boold_fat, 
			a.boold_sugar, a.digestion, a.urine, a.sleep, a.tongue, a.limbs_temp, a.check_time, a.create_time, a.record_status,
			b.hab_id, b.is_smoke, b.is_drink, b.sleep_habbit, b.is_midnight, b.is_nap,
			b.is_eat_well, b.eat_description, b.is_move, b.move_description, b.characteristic, b.check_time,
			c.address, c.phone
		from tbl_usr_member c
		left join tbl_usr_habbit b on b.memb_id = c.memb_id
		left join tbl_usr_archives a on a.memb_id = c.memb_id
		left join tbl_sys_company d on c.comp_id = d.comp_id
		left join tbl_sys_operator e on c.op_id = e.op_id
		<where>
			c.record_status = 0
			<if test="name != null and name != ''">
				And c.name like #{name, jdbcType=VARCHAR}
			</if>
			<if test="phone != null and phone != ''">
				And c.phone like #{phone, jdbcType=VARCHAR}
			</if>
			<if test="account != null and account != ''">
				And c.account like #{account, jdbcType=VARCHAR}
			</if>
			<choose>
				<when test="archiveStatus == 0">
					and c.arc_id is null
				</when>
				<when test="archiveStatus == 1">
					and c.arc_id is not null
				</when>
			</choose>
			<if test="beginTime != null">
				And c.create_time &gt;= #{beginTime, jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null">
				And c.create_time &lt;= #{endTime, jdbcType=TIMESTAMP}
			</if>
			<if test="opStatus != null">
				And isnull(c.op_id) != #{opStatus, jdbcType=VARCHAR}
			</if>
			<if test="compName != null and compName != ''">
				And d.name like #{compName, jdbcType=VARCHAR}
			</if>
			<if test="opName != null and opName != ''">
				And e.name like #{opName, jdbcType=VARCHAR}
			</if>
			
			<if test="addOpId != null and addRoleLevel == 4">
				And c.op_id = #{addOpId, jdbcType=BIGINT}
			</if>
			<if test="addCompId != null and addRoleLevel != 0 and addRoleLevel != 4 ">
				And (d.comp1_pid = #{addCompId, jdbcType=BIGINT} or d.comp2_pid = #{addCompId, jdbcType=BIGINT} or d.comp_id =#{addCompId, jdbcType=BIGINT})
			</if>
		</where>
		group by c.memb_id
		order by c.create_time desc
		limit #{offset},#{limit}
	</select>
</mapper>