<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sifude.lejane.mapper.UsrDataMapper" >
  <resultMap id="BaseResultMap" type="com.sifude.lejane.entity.UsrData" >
    <id column="data_id" property="dataId" jdbcType="BIGINT" />
    <result column="memb_id" property="membId" jdbcType="BIGINT" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="data_value" property="dataValue" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="check_tick" property="checkTick" jdbcType="VARCHAR" />
    <result column="device" property="device" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    data_id, memb_id, source, data_type, data_value, check_time, check_tick, device, 
    phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_usr_data
    where data_id = #{dataId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_usr_data
    where data_id = #{dataId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sifude.lejane.entity.UsrData" >
    insert into tbl_usr_data (data_id, memb_id, source, 
      data_type, data_value, check_time, 
      check_tick, device, phone
      )
    values (#{dataId,jdbcType=BIGINT}, #{membId,jdbcType=BIGINT}, #{source,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR}, #{dataValue,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{checkTick,jdbcType=VARCHAR}, #{device,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sifude.lejane.entity.UsrData" >
    insert into tbl_usr_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataId != null" >
        data_id,
      </if>
      <if test="membId != null" >
        memb_id,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="dataValue != null" >
        data_value,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="checkTick != null" >
        check_tick,
      </if>
      <if test="device != null" >
        device,
      </if>
      <if test="phone != null" >
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataId != null" >
        #{dataId,jdbcType=BIGINT},
      </if>
      <if test="membId != null" >
        #{membId,jdbcType=BIGINT},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataValue != null" >
        #{dataValue,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTick != null" >
        #{checkTick,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sifude.lejane.entity.UsrData" >
    update tbl_usr_data
    <set >
      <if test="membId != null" >
        memb_id = #{membId,jdbcType=BIGINT},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataValue != null" >
        data_value = #{dataValue,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTick != null" >
        check_tick = #{checkTick,jdbcType=VARCHAR},
      </if>
      <if test="device != null" >
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sifude.lejane.entity.UsrData" >
    update tbl_usr_data
    set memb_id = #{membId,jdbcType=BIGINT},
      source = #{source,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      data_value = #{dataValue,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      check_tick = #{checkTick,jdbcType=VARCHAR},
      device = #{device,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where data_id = #{dataId,jdbcType=BIGINT}
  </update>
</mapper>