<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sifude.lejane.dao.IUsrHabbitDao">
	<insert id="save" parameterType="com.sifude.lejane.entity.UsrHabbit" keyProperty="habId" useGeneratedKeys="true">
		replace into tbl_usr_habbit
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="habId != null">
				hab_id,
			</if>
			<if test="membId != null">
				memb_id,
			</if>
			<if test="isSmoke != null">
				is_smoke,
			</if>
			<if test="isDrink != null">
				is_drink,
			</if>
			<if test="sleepHabbit != null">
				sleep_habbit,
			</if>
			<if test="isMidnight != null">
				is_midnight,
			</if>
			<if test="isNap != null">
				is_nap,
			</if>
			<if test="isEatWell != null">
				is_eat_well,
			</if>
			<if test="eatDescription != null">
				eat_description,
			</if>
			<if test="isMove != null">
				is_move,
			</if>
			<if test="moveDescription != null">
				move_description,
			</if>
			<if test="characteristic != null">
				characteristic,
			</if>
			<if test="checkTime != null">
				check_time,
			</if>
				create_time,
			<if test="recordStatus != null">
				record_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="habId != null">
				#{habId,jdbcType=BIGINT},
			</if>
			<if test="membId != null">
				#{membId,jdbcType=BIGINT},
			</if>
			<if test="isSmoke != null">
				#{isSmoke,jdbcType=BIT},
			</if>
			<if test="isDrink != null">
				#{isDrink,jdbcType=BIT},
			</if>
			<if test="sleepHabbit != null">
				#{sleepHabbit,jdbcType=VARCHAR},
			</if>
			<if test="isMidnight != null">
				#{isMidnight,jdbcType=BIT},
			</if>
			<if test="isNap != null">
				#{isNap,jdbcType=BIT},
			</if>
			<if test="isEatWell != null">
				#{isEatWell,jdbcType=BIT},
			</if>
			<if test="eatDescription != null">
				#{eatDescription,jdbcType=VARCHAR},
			</if>
			<if test="isMove != null">
				#{isMove,jdbcType=BIT},
			</if>
			<if test="moveDescription != null">
				#{moveDescription,jdbcType=VARCHAR},
			</if>
			<if test="characteristic != null">
				#{characteristic,jdbcType=VARCHAR},
			</if>
			<if test="checkTime != null">
				#{checkTime,jdbcType=DATE},
			</if>
			current_timestamp,
			<if test="recordStatus != null">
				#{recordStatus,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.sifude.lejane.entity.UsrHabbit">
		update tbl_usr_habbit
		<set>
			<if test="membId != null">
				memb_id = #{membId,jdbcType=BIGINT},
			</if>
			<if test="isSmoke != null">
				is_smoke = #{isSmoke,jdbcType=BIT},
			</if>
			<if test="isDrink != null">
				is_drink = #{isDrink,jdbcType=BIT},
			</if>
			<if test="sleepHabbit != null">
				sleep_habbit = #{sleepHabbit,jdbcType=VARCHAR},
			</if>
			<if test="isMidnight != null">
				is_midnight = #{isMidnight,jdbcType=BIT},
			</if>
			<if test="isNap != null">
				is_nap = #{isNap,jdbcType=BIT},
			</if>
			<if test="isEatWell != null">
				is_eat_well = #{isEatWell,jdbcType=BIT},
			</if>
			<if test="eatDescription != null">
				eat_description = #{eatDescription,jdbcType=VARCHAR},
			</if>
			<if test="isMove != null">
				is_move = #{isMove,jdbcType=BIT},
			</if>
			<if test="moveDescription != null">
				move_description = #{moveDescription,jdbcType=VARCHAR},
			</if>
			<if test="characteristic != null">
				characteristic = #{characteristic,jdbcType=VARCHAR},
			</if>
			<if test="checkTime != null">
				check_time = #{checkTime,jdbcType=DATE},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="recordStatus != null">
				record_status = #{recordStatus,jdbcType=BIT},
			</if>
		</set>
		where hab_id = #{habId,jdbcType=BIGINT}
	</update>
</mapper>