<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sifude.lejane.mapper.UsrReadMapper" >
  <resultMap id="BaseResultMap" type="com.sifude.lejane.entity.UsrRead" >
    <id column="read_id" property="readId" jdbcType="BIGINT" />
    <result column="memb_id" property="membId" jdbcType="BIGINT" />
    <result column="info_id" property="infoId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    read_id, memb_id, info_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_usr_read
    where read_id = #{readId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_usr_read
    where read_id = #{readId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sifude.lejane.entity.UsrRead" >
    insert into tbl_usr_read (read_id, memb_id, info_id, 
      create_time)
    values (#{readId,jdbcType=BIGINT}, #{membId,jdbcType=BIGINT}, #{infoId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sifude.lejane.entity.UsrRead" >
    insert into tbl_usr_read
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="readId != null" >
        read_id,
      </if>
      <if test="membId != null" >
        memb_id,
      </if>
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="readId != null" >
        #{readId,jdbcType=BIGINT},
      </if>
      <if test="membId != null" >
        #{membId,jdbcType=BIGINT},
      </if>
      <if test="infoId != null" >
        #{infoId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sifude.lejane.entity.UsrRead" >
    update tbl_usr_read
    <set >
      <if test="membId != null" >
        memb_id = #{membId,jdbcType=BIGINT},
      </if>
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where read_id = #{readId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sifude.lejane.entity.UsrRead" >
    update tbl_usr_read
    set memb_id = #{membId,jdbcType=BIGINT},
      info_id = #{infoId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where read_id = #{readId,jdbcType=BIGINT}
  </update>
</mapper>