/buyer/dist/
/buyer/node_modules/
/server/app/
/server/node_modules/
/server/runtime/
/YSY_EM_SERVER/.classpath
/YSY_EM_SERVER/.project
/YSY_EM_SERVER/.settings/
/YSY_EM_SERVER/target/
/.project
/.settings/*
/ORANGE_YSY_APP_SERVER/.classpath
/ORANGE_YSY_APP_SERVER/.gitignore
/ORANGE_YSY_APP_SERVER/.project
/ORANGE_YSY_APP_SERVER/.settings/*
/ORANGE_YSY_COMMON/.classpath
/ORANGE_YSY_COMMON/.gitignore
/ORANGE_YSY_COMMON/.project
/ORANGE_YSY_COMMON/.settings/*
/ORANGE_YSY_ENTITY/.classpath
/ORANGE_YSY_ENTITY/.gitignore
/ORANGE_YSY_ENTITY/.project
/ORANGE_YSY_ENTITY/.settings/*
/ORANGE_YSY_PARENT/.project
/ORANGE_YSY_PARENT/.settings/*
/ORANGE_YSY_WEB_SERVER/.classpath
/ORANGE_YSY_WEB_SERVER/.gitignore
/ORANGE_YSY_WEB_SERVER/.project
/ORANGE_YSY_WEB_SERVER/.settings/*